{% extends "base.html" %}
{% load static %}
{% block title %}
    Chat
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <h2 class="mb-0">
                    {% if user.role == user.OWNER %}
                        Chat with {{ tenant.email }}
                    {% else %}
                        Chat with {{ owner.email }}
                    {% endif %}
                </h2>
                <a href="{% if user.role == user.OWNER %}{% url 'owner_messages' %}{% else %}{% url 'tenant_messages' %}{% endif %}"
                   class="btn btn-primary">
                    <span class="text-white" style="font-size: 2.5rem;">x</span>
                </a>
            </div>
            <div class="card-body">
                <div class="chat-box mb-3"
                     id="chat-box"
                     style="height: 400px;
                            overflow-y: auto">
                    {% for message in chat_messages %}
                        <div class="d-flex mb-3 {% if message.sender == user %}justify-content-end{% else %}justify-content-start{% endif %}">
                            <div class="message p-2 rounded {% if message.sender == user %}bg-primary text-white{% else %}bg-light{% endif %}">
                                <p class="mb-1">{{ message.content }}</p>
                                <small class="{% if message.sender == user %}text-white{% else %}text-muted{% endif %}"
                                       style="text-align: {% if message.sender == user %}right{% else %}left{% endif %}">
                                    {{ message.timestamp|date:"H:i" }}
                                </small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <form id="message-form"
                      method="post"
                      action="{% if user.role == user.OWNER %}{% url 'send_message' tenant.id %}{% else %}{% url 'send_message' owner.id %}{% endif %}">
                    {% csrf_token %}
                    <div class="input-group">
                        {{ form.content }}
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock js %}
