{% extends "base.html" %}
{% block title %}
    Confirm Contract Deletion
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="mb-4">Confirm Contract Deletion</h2>
                <p>Are you sure you want to delete the contract?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'all_contracts' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
