#wrapper {
    display: flex;
    flex-direction: row;
}

#sidebar-wrapper {
    width: 250px;
    transition: all 0.3s ease;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 0;
}
