{% extends "base.html" %}
{% block title %}
    Available Units
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <h2>Available Units</h2>
        <div class="row mt-4">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Unit Number</th>
                            <th>Description</th>
                            <th>Beds</th>
                            <th>Bathrooms</th>
                            <th>Kitchens</th>
                            <th>Living Rooms</th>
                            <th>Stores</th>
                            <th>Rentable</th>
                            <th>Property</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unit in units %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ unit.unit_number }}</td>
                                <td>{{ unit.description }}</td>
                                <td>{{ unit.num_beds }}</td>
                                <td>{{ unit.num_bathrooms }}</td>
                                <td>{{ unit.num_kitchens }}</td>
                                <td>{{ unit.num_living_rooms }}</td>
                                <td>{{ unit.num_stores }}</td>
                                <td>{{ unit.is_available_for_rent }}</td>
                                <td>{{ unit.property.name }}</td>
                                <td>
                                    <a href="{% url 'unit_applied_tenants' unit.pk %}" class="btn btn-success btn-sm">Applicants</a>
                                    <a href="{% url 'unit_detail' unit.pk %}" class="btn btn-info btn-sm">View</a>
                                    <a href="{% url 'unit_update' unit.pk %}" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="{% url 'unit_delete' unit.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="11">No available units found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
