{% extends "base.html" %}
{% load static %}
{% block js %}
    <script src="{% static 'js/cascade_dropdowns.js' %}"></script>
{% endblock js %}
{% block content %}
    <h2>{{ form.instance.pk|yesno:"Edit Property,Add Property" }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Upload Images</h3>
        {{ image_formset.management_form }}
        {% for form in image_formset %}{{ form.as_p }}{% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock content %}
