{% extends "base.html" %}
{% load static %}
{% block title %}
    Property Form
{% endblock title %}
{% block js %}
    <script src="{% static 'js/cascade_dropdowns.js' %}"></script>
{% endblock js %}
{% block content %}
    <div class="container mt-4">
        <h2>{{ form.instance.pk|yesno:"Edit Property,Add Property" }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card shadow-sm">
                <div class="card-body">{{ form.as_p }}</div>
            </div>
            <div class="card mt-3 shadow-sm">
                <div class="card-body">
                    <h3>Upload Images</h3>
                    {{ image_formset.management_form }}
                    {% for form in image_formset %}<div class="form-group">{{ form.as_p }}</div>{% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
        </form>
    </div>
{% endblock content %}
