{% extends "base.html" %}
{% block content %}
    <h2>{{ property.name }}</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Property Details</h3>
            <div class="border bg-light">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Country</th>
                            <td>{{ property.country }}</td>
                        </tr>
                        <tr>
                            <th scope="row">State</th>
                            <td>{{ property.state }}</td>
                        </tr>
                        <tr>
                            <th scope="row">City</th>
                            <td>{{ property.city }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sub Locality</th>
                            <td>{{ property.sub_locality }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Area (Sqft)</th>
                            <td>{{ property.square_feet }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>{{ property.address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ property.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Actions</th>
                            <td>
                                <a href="{% url 'property_update' property.pk %}">Edit Property</a>
                                <a href="{% url 'property_delete' property.pk %}">Delete Property</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Unit Details</h3>
            <div class="border bg-light">Container 2</div>
        </div>
    </div>
    <a href="{% url 'unit_create' property.pk %}">Add Unit</a>
    <ul>
        {% for unit in property.units.all %}
            <li>
                Unit {{ unit.unit_number }}: {{ unit.description }}
                <p>Beds: {{ unit.num_beds }}</p>
                <p>Bathrooms: {{ unit.num_bathrooms }}</p>
                <p>Kitchens: {{ unit.num_kitchens }}</p>
                <p>Living Rooms: {{ unit.num_living_rooms }}</p>
                <p>Stores: {{ unit.num_stores }}</p>
                <a href="{% url 'unit_update' unit.pk %}">Edit</a>
                <a href="{% url 'unit_delete' unit.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
