{% extends "base.html" %}
{% block title %}
    Tenant Dashboard
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <h2>Welcome to Your Tenant Dashboard</h2>
        <div class="row mt-4">
            <div class="col-md-6 mb-3">
                <a href="{% url 'available_units' %}"
                   class="btn btn-primary btn-lg btn-block">View Available Units</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'user_applied_units' %}"
                   class="btn btn-info btn-lg btn-block">View Applied Units</a>
            </div>
        </div>
    </div>
{% endblock content %}
