{% extends "base.html" %}
{% load static %}
{% block title %}
    Password Reset
{% endblock title %}
{% block content %}
    <section class="sign-up-page bg-white">
        <div class="container-fluid p-0 vh-100">
            <div class="row sign-up-page-wrap-row h-100">
                <div class="col-md-6 d-flex justify-content-center align-items-center bg-white p-5">
                    <div class="w-75 text-center">
                        <div class="mb-4 text-center">
                            <span class="logo-lg">
                                <img src="{% static 'images/undraw_welcome_cats_thqn.svg' %}"
                                     alt="Logo"
                                     class="img-fluid"
                                     height="250"
                                     width="250">
                            </span>
                        </div>
                        <h1 class="mb-4">Password Reset Sent</h1>
                        <p>We have sent you an email with instructions to reset your password.</p>
                        <a href="{% url 'login' %}" class="theme-link" title="Login">Login</a>
                        <a href="{% url 'register' %}" class="theme-link" title="Register">Register</a>
                    </div>
                </div>
                {% include "users/partial_app_logo.html" %}
            </div>
        </div>
    </section>
{% endblock content %}
