{% extends "base.html" %}
{% block title %}
    Reset Password
{% endblock title %}
{% block content %}
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <div>
                <label for="id_username" class="form-label mt-4">Email address</label>
                <input type="email"
                       name="email"
                       maxlength="254"
                       autofocus
                       required
                       class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                       id="id_username"
                       aria-describedby="emailHelp"
                       placeholder="Enter email" />
                {% for error in form.email.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mt-4">Password Reset</button>
        </fieldset>
    </form>
{% endblock content %}
