{% extends 'base.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
  <h2>Set New Password</h2>

  <form method="post">
    {% csrf_token %}
    <fieldset>
      <div>
        <label for="{{ form.new_password1.id_for_label }}" class="form-label mt-4">New Password</label>
        <input type="password" name="new_password1" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" id="{{ form.new_password1.id_for_label }}" placeholder="Password" autocomplete="off" />
        {% for error in form.new_password1.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div>
        <label for="{{ form.new_password2.id_for_label }}" class="form-label mt-4">Confirm Password</label>
        <input type="password" name="new_password2" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" id="{{ form.new_password2.id_for_label }}" placeholder="Password" autocomplete="off" />
        {% for error in form.new_password2.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary mt-4">Password Reset</button>
    </fieldset>
  </form>
{% endblock %}
