{% extends "base.html" %}
{% load static %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
    <section class="sign-up-page bg-white">
        <div class="container-fluid p-0 vh-100">
            <div class="row sign-up-page-wrap-row h-100">
                <div class="col-md-6 d-flex justify-content-center align-items-center bg-white p-5">
                    <form method="post" class="w-75">
                        {% csrf_token %}
                        <div class="mb-4 text-center">
                            <span class="logo-lg">
                                <img src="{% static 'images/undraw_undraw_undraw_undraw_sign_up_ln1s_-1-_s4bc_-1-_ee41_-1-_kf4d.svg' %}"
                                     alt="Logo"
                                     class="img-fluid"
                                     height="250"
                                     width="250">
                            </span>
                        </div>
                        <h1 class="mb-4 text-center">Register</h1>
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger mt-4">
                                {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label class="label-text-title font-medium mb-2" for="id_email">Email address</label>
                            <input type="email"
                                   name="email"
                                   maxlength="254"
                                   autofocus
                                   required
                                   class="form-control email {% if form.email.errors %}is-invalid{% endif %}"
                                   id="id_email"
                                   placeholder="Enter email">
                            {% for error in form.email.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                        </div>
                        <div class="mb-3">
                            <label class="label-text-title font-medium mb-2" for="id_role">Role</label>
                            <select name="role"
                                    class="form-select {% if form.role.errors %}is-invalid{% endif %}"
                                    id="id_role">
                                <option value="1">Owner</option>
                                <option value="2">Tenant</option>
                            </select>
                            {% for error in form.role.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                        </div>
                        <div class="mb-3">
                            <label class="label-text-title font-medium mb-2" for="id_password1">Password</label>
                            <input type="password"
                                   name="password1"
                                   class="form-control password {% if form.password1.errors %}is-invalid{% endif %}"
                                   id="id_password1"
                                   placeholder="Password"
                                   autocomplete="off">
                            {% for error in form.password1.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                        </div>
                        <div class="alert alert-dismissible alert-light mt-4">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="label-text-title font-medium mb-2" for="id_password2">Password confirmation</label>
                            <input type="password"
                                   name="password2"
                                   class="form-control password {% if form.password2.errors %}is-invalid{% endif %}"
                                   id="id_password2"
                                   placeholder="Password"
                                   autocomplete="off">
                            {% for error in form.password2.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <!-- <div class="form-group custom-checkbox">
                                <input type="checkbox" id="rememberMe" name="remember" value="1">
                                <label class="fw-normal" for="rememberMe">Remember Me</label>
                            </div> -->
                            </div>
                            <div class="col-md-6 text-end">
                                <a href="{% url 'login' %}" class="theme-link" title="Login">Login</a>
                                <a href="{% url 'password_reset' %}"
                                   class="theme-link"
                                   title="Forgot Password?">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                        </div>
                    </form>
                </div>
                {% include "users/partial_app_logo.html" %}
            </div>
        </div>
    </section>
{% endblock content %}
